* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
body {
	overflow-x: hidden;
	font-family: Lucida Grande,Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #606060;
}
.social {
bottom: 16px;
clear: left;
overflow: hidden;
padding-top: 15px;
position: absolute;
right: 10px;
width: 275px;
}
.twitter-share-button {
overflow: hidden;
width: 98px !important;
}
.fb-like {
position: absolute !important;
left: 179px;
top: 15px;
}
.fb_edge_comment_widget iframe {
position: absolute;
top: -300px;
}
‪#‎main‬ {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
}
h1 {
color: white;
font-family: Raleway Dots;
/* Fix thin font rendering on Windows */
font-size: 156px;
-webkit-transform: scale(0.5);
-moz-transform: scale(0.5);
-ms-transform: scale(0.5);
-o-transform: scale(0.5);
transform: scale(0.5);
font-weight: normal;
text-align: center;
text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white;
position: absolute;
z-index: 20;
top: 50%;
right: 0;
height: 82px;
margin-top: -110px;
width: 776px;
left: 50%;
margin-left: -388px;
}

footer {
	background: white;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 60px;
}

footer img {
	border: 0;
	border-radius: 4px;
	float: left;
	width: 30px;
	height: 30px;
	margin: 15px;
}

footer p {
	padding-top: 24px;
}

footer a {
	font-weight: bold;
}

.themes {
	width: 180px;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -55px;
}

.themes strong {
	margin-right: 4px;
}

.arrow {
	-webkit-transition: background .1s ease;
	-moz-transition: background .1s ease;
	-ms-transition: background .1s ease;
	-o-transition: background .1s ease;
	transition: background .1s ease;
	cursor: pointer;
	color: white;
	background: #808080;
	width: 15px;
	height: 15px;
	border-radius: 4px;
	text-align: center;
	font-weight: bold;
	line-height: 19px;
	overflow: hidden;
	position: absolute;
	top: 24px;
}

.arrow.up {
	left: -42px;
}

.arrow.down {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	left: -24px;
}

