doctype 
html
head
    meta(http-equiv='Content-Type', content='text/html; charset=ISO-8859-1')
    meta(name='viewport', content='width=device-width')
    title Bespoke.js
    meta(content='Bespoke.js', property='og:title')
    meta(content='Bespoke.js', property='og:site_name')
    meta(content='http://markdalgleish.com/projects/bespoke.js/', property='og:url')
    meta(content='website', property='og:type')
    link(rel='stylesheet', type='text/css', href='./Bespoke.js_files/style.css')
    link(rel='stylesheet', type='text/css', href='./Bespoke.js_files/themes.css')
    link(href='./Bespoke.js_files/css', rel='stylesheet', type='text/css')
  body.cube
    #main
      header
        p.hidden
          span#input-method Tekan arah panah atas dan bawah 
          | untuk mengganti mode tampilan. 
      #title
        a(href='index.html')
          span Katakana
          span.shh Hiragana
      p#second
        ul
          li a-column 
          li i-column 
          li u-column 
          li e-column 
          li o-column
            span#dummy
            article.bespoke
              section#mix
                a(href='#', onclick='playSound(\'./sound/ga.mp3\');') ガ 
                a(href='#', onclick='playSound(\'./sound/gi.mp3\');') ギ 
                a(href='#', onclick='playSound(\'./sound/gu.mp3\');') グ 
                a(href='#', onclick='playSound(\'./sound/ge.mp3\');') ゲ 
                a(href='#', onclick='playSound(\'./sound/go.mp3\');') ゴ 
                h5 ga gi gu ge go
              section#mix
                a(href='#', onclick='playSound(\'./sound/za.mp3\');') ザ 
                a(href='#', onclick='playSound(\'./sound/ji.mp3\');') ジ 
                a(href='#', onclick='playSound(\'./sound/zu.mp3\');') ズ 
                a(href='#', onclick='playSound(\'./sound/ze.mp3\');') ゼ 
                a(href='#', onclick='playSound(\'./sound/zo.mp3\');') ゾ 
                h5 za ji zu ze zo
              section#mix
                a(href='#', onclick='playSound(\'./sound/da.mp3\');') ダ 
                a(href='#', onclick='playSound(\'./sound/ji2.mp3\');') ヂ 
                a(href='#', onclick='playSound(\'./sound/zu2.mp3\');') ヅ 
                a(href='#', onclick='playSound(\'./sound/de.mp3\');') デ 
                a(href='#', onclick='playSound(\'./sound/do.mp3\');') ド  
                h5 da ji zu de do
              section#mix
                a(href='#', onclick='playSound(\'./sound/ba.mp3\');') バ 
                a(href='#', onclick='playSound(\'./sound/bi.mp3\');') ビ 
                a(href='#', onclick='playSound(\'./sound/bu.mp3\');') ブ 
                a(href='#', onclick='playSound(\'./sound/be.mp3\');') ベ 
                a(href='#', onclick='playSound(\'./sound/bo.mp3\');') ボ  
                h5 ba bi bu be bo
      ol#btn
        li MENU
          ol 
            li
              a(href="katakana.html")
                h3 Gojoun
            li
              a(href="dakuonkatakana.html")
                h3 Dakuon
            li
              a(href="handakuonkatakana.html")
                h3 Han-Dakuon
            li
              a(href="yoonkatakana.html")
                h3 Yoon
            li
              a(href="examples.html")
                h3 Examples
        h4 Dakuon    
    footer
      .themes
          p
            strong
              | MODE VIEW
              span.colon :
            span#theme Cube
          #up-arrow.up.arrow ^
          #down-arrow.down.arrow ^
    script(src='./Bespoke.js_files/bespoke.min.js')
    script(src='./Bespoke.js_files/demo.js')
    script(src='./Bespoke.js_files/sound.js')