doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title EXAMPLES

    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    
  body
    span#dummy
    article
      section(data-bespoke-state='emphatic')
        h1 EXAMPLES
	    section 
    		img(src='./examples/adoresu.jpg', alt='#')
    		br
    		a(href='#', onclick='playSound(\'./examples/adoresu.mp3\');')
    	   	  h2 はアドレス 
    		h3 Adoresu
    		h5 Alamat
  	  section 
    		img(src='./examples/antena.jpg', alt='#')
    		br
    		a(href='#', onclick='playSound(\'./examples/antena.mp3\');')
    		  h2 アンテナ
    		h3 Antenna
    		h5 Antenna
    	section 
    		img(src='./examples/apato.jpg', alt='#')
    		br
    		a(href='#', onclick='playSound(\'./examples/apato.mp3\');')
    		  h2 アパート
    		h3 Apa^to
    		h5 Apartemen
    	section 
      		img(src='./examples/barukoni.jpg', alt='#')
      		br
      		a(href='#', onclick='playSound(\'./examples/barukoni.mp3\');')
      		  h2 バルコニー
      		h3 barukoni^
      		h5 Balkon
      section 
          img(src='./examples/beddo.jpg', alt='#')
          br
          a(href='#', onclick='playSound(\'./examples/beddo.mp3\');')
            h2 ベッド
          h3 beddo
          h5 Tempat Tidur
      section 
        img(src='./examples/benchi.jpg', alt='#')
        br
        a(href='#', onclick='playSound(\'./examples/benchi.mp3\');')
          h2 ベンチ
        h3 Benchi
        h5 Kursi
      section 
        img(src='./examples/benri.jpg', alt='#')
        br
        a(href='#', onclick='playSound(\'./examples/benri.mp3\');')
          h2 便利
        h3 Benri
        h5 Kenyamanan
      section 
        img(src='./examples/bideo.jpg', alt='#')
        br
        a(href='#', onclick='playSound(\'./examples/bideo.mp3\');')
          h2 ビデオ
        h3 Bideo
        h5 Video
      section
        img(src='./examples/chika.jpg', alt='#')
        br
        a(href='#', onclick='playSound(\'./examples/chika.mp3\');')
          h2 地下
        h3 Chika
        h5 Ruang bawah tanah
      section
        img(src='./examples/daidokoro.jpg', alt='#')
        br
        a(href='#', onclick='playSound(\'./examples/daidokoro.mp3\');')
          h2 台所
        h3 Daidokoro
        h5 Dapur
      section
        img(src='./examples/dainingurumu.jpg', alt='#')
        br
        a(href='#', onclick='playSound(\'./examples/dainingurumu.mp3\');')
          h2 ダイニングルーム
        h3 Daininguru^mu
        h5 Ruang makan
      section
        img(src='./examples/denkinotama.jpg', alt='#')
        br
        a(href='#', onclick='playSound(\'./examples/denkinotama.mp3\');')
          h2 電気の球
        h3 DenkiNoTama
        h5 Bola lampu
      section
      	img(src='./examples/denkisoujiki.jpg', alt='#')
      	br
      	a(href='#', onclick='playSound(\'./examples/denkisoujiki.mp3\');')
      	h2 電気掃除機
      	h3 Denkisoujiki
      	h5 Penghisap Debu
      section
      	img(src='./examples/denwa.jpg', alt='#')
      	br
      	a(href='#', onclick='playSound(\'./examples/denwa.mp3\');')
      	h2 電話
      	h3 Denwa
      	h5 Telepon
      section
      	img(src='./examples/doa.jpg', alt='#')
      	br
      	a(href='#', onclick='playSound(\'./examples/doa.mp3\');')
      	h2 電話
      	h3 Doa
      	h5 Pintu
      section
      	img(src='./examples/e.jpg', alt='#')
      	br
      	a(href='#', onclick='playSound(\'./examples/e.mp3\');')
      	h2 絵
      	h3 E
      	h5 Gambar.
	  section 
		img(src='./examples/erebeta.jpg', alt='#')
		br
		a(href='#', onclick='playSound(\'./examples/erebeta.mp3\');')
		h2 エレベーター
		h3 Erebe^ta^
		h5 Lift
	  section 
		img(src='./examples/furo.jpg', alt='#')
		br
		a(href='#', onclick='playSound(\'./examples/furo.mp3\');')
		h2 風呂
		h3 Furo
		h5 Kamar Mandi
	  section 
		img(src='./examples/futa.jpg', alt='#')
		br
		a(href='#', onclick='playSound(\'./examples/futa.mp3\');')
		h2 ふた
		h3 Futa
		h5 Penutup
	  section 
		img(src='./examples/genkan.jpg', alt='#')
		br
		a(href='#', onclick='playSound(\'./examples/genkan.mp3\');')
		h2 玄関
		h3 Genkan
		h5 Serambi
      section 
        img(src='./examples/hijikakeisu.jpg', alt='#')
        br
        a(href='#', onclick='playSound(\'./examples/hijikakeisu.mp3\');')
        h2 ひじ掛け椅子
        h3 HijiKakeIsu
        h5 Kursi malas
      section 
        img(src='./examples/hondana.jpg', alt='#')
        br
        a(href='#', onclick='playSound(\'./examples/hondana.mp3\');')
        h2 本棚
        h3 Hondana
        h5 Rak Buku
      section 
        img(src='./examples/ie.jpg', alt='#')
        br
        a(href='#', onclick='playSound(\'./examples/ie.mp3\');')
        h2 家
        h3 Ie
        h5 Rumah      
      section
        img(src='./examples/ima.jpg', alt='#')
        br
        a(href='#', onclick='playSound(\'./examples/ima.mp3\');')
        h2 居間
        h3 Ima
        h5 Ruang Tamu
      section
        img(src='./examples/iriguchi.jpg', alt='#')
        br
        a(href='#', onclick='playSound(\'./examples/iriguchi.mp3\');')
        h2 入り口
        h3 Iriguchi
        h5 Pintu Masuk
      section
        img(src='./examples/isu.jpg', alt='#')
        br
        a(href='#', onclick='playSound(\'./examples/isu.mp3\');')
        h2 いす
        h3 Isu
        h5 Kursi
      section
        img(src='./examples/jou.jpg', alt='#')
        br
        a(href='#', onclick='playSound(\'./examples/jou.mp3\');')
        h2 錠
        h3 Jou
        h5 Kunci

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    script(src='./Bespoke.js_files/sound.js')
    // endbuild 
