doctype 
html
head
    meta(http-equiv='Content-Type', content='text/html; charset=ISO-8859-1')
    meta(name='viewport', content='width=device-width')
    title Bespoke.js
    meta(content='Bespoke.js', property='og:title')
    meta(content='Bespoke.js', property='og:site_name')
    meta(content='http://markdalgleish.com/projects/bespoke.js/', property='og:url')
    meta(content='website', property='og:type')
    link(rel='stylesheet', type='text/css', href='./Bespoke.js_files/style.css')
    link(rel='stylesheet', type='text/css', href='./Bespoke.js_files/themes.css')
    link(href='./Bespoke.js_files/css', rel='stylesheet', type='text/css')
  body.cube
    #main
      header
        p.hidden
          span#input-method Tekan arah panah atas dan bawah 
          | untuk mengganti mode tampilan.  
      #title
        a(href='index.html')
          span Katakana
          span.shh Hiragana
      p#second
        ul
          li a-column 
          li i-column 
          li u-column 
          li e-column 
          li o-column
            span#dummy
            article.bespoke
              section#mix
                a(href='#', onclick='playSound(\'./sound/pa.mp3\');') パ 
                a(href='#', onclick='playSound(\'./sound/pi.mp3\');') ピ 
                a(href='#', onclick='playSound(\'./sound/pu.mp3\');') プ 
                a(href='#', onclick='playSound(\'./sound/pe.mp3\');') ペ 
                a(href='#', onclick='playSound(\'./sound/po.mp3\');') ポ 
                h5 pa pi pu pe po
      ol#btn
        li MENU
          ol 
            li
              a(href="katakana.html")
                h3 Gojoun
            li
              a(href="dakuonkatakana.html")
                h3 Dakuon
            li
              a(href="handakuonkatakana.html")
                h3 Han-Dakuon
            li
              a(href="yoonkatakana.html")
                h3 Yoon
            li
              a(href="examples.html")
                h3 Examples
        h4 Han-Dakuon    
    footer
      .themes
          p
            strong
              | MODE VIEW
              span.colon :
            span#theme Cube
          #up-arrow.up.arrow ^
          #down-arrow.down.arrow ^
    script(src='./Bespoke.js_files/bespoke.min.js')
    script(src='./Bespoke.js_files/demo.js')
    script(src='./Bespoke.js_files/sound.js')