doctype
html
head
    meta(http-equiv='Content-Type', content='text/html; charset=ISO-8859-1')
    meta(name='viewport', content='width=device-width')
    title Bespoke.js
    meta(content='Bespoke.js', property='og:title')
    meta(content='Bespoke.js', property='og:site_name')
    meta(content='http://markdalgleish.com/projects/bespoke.js/', property='og:url')
    meta(content='website', property='og:type')
    meta(content='DIY Presentation Micro-Framework. Less than 1KB minified and gzipped, with no dependencies. Bespoke.js provides the foundation, then gets out of your way so you can focus on uniquely crafting your own personal deck style.', property='og:description')
    meta(content='http://markdalgleish.com/projects/bespoke.js/images/og-thumb.jpg', property='og:image')
    link(rel='stylesheet', type='text/css', href='style.css')
    link(rel='stylesheet', type='text/css', href='styles/style.css')
    link(rel='stylesheet', type='text/css', href='./Bespoke.js_files/style.css')
    link(rel='stylesheet', type='text/css', href='./Bespoke.js_files/themes.css')
    link(href='./Bespoke.js_files/css', rel='stylesheet', type='text/css')
  body.cube
    #main
      header
        p.hidden
          span#input-method Press up and down keys
          | to view example themes.  
      aside#title
        a(href='https://github.com/markdalgleish/bespoke.js')
          p Hiragana
      p#second
        ul
          li a-column 
          li i-column 
          li u-column 
          li e-column 
          li o-column
            article.bespoke-parent
            span#dummy
			article.bespoke
			  section#mix
				a(href='#', onclick='playSound(\'./sound/a.mp3\');') あ 
				a(href='#', onclick='playSound(\'./sound/i.mp3\');') い 
				a(href='#', onclick='playSound(\'./sound/u.mp3\');') う 
				a(href='#', onclick='playSound(\'./sound/e.mp3\');') え 
				a(href='#', onclick='playSound(\'./sound/o.mp3\');') お 
			h5 a i u e o
			  section#mix
				a(href='#', onclick='playSound(\'./sound/ka.mp3\');') か 
				a(href='#', onclick='playSound(\'./sound/ki.mp3\');') き 
				a(href='#', onclick='playSound(\'./sound/ku.mp3\');') く 
				a(href='#', onclick='playSound(\'./sound/ke.mp3\');') け 
				a(href='#', onclick='playSound(\'./sound/ko.mp3\');') こ 
			h5 ka ki ku ke ko
			  section#mix
				a(href='#', onclick='playSound(\'./sound/sa.mp3\');') さ 
				a(href='#', onclick='playSound(\'./sound/shi.mp3\');') し 
				a(href='#', onclick='playSound(\'./sound/su.mp3\');') す 
				a(href='#', onclick='playSound(\'./sound/se.mp3\');') せ 
				a(href='#', onclick='playSound(\'./sound/so.mp3\');') そ 
			h5 sa shi su se so
              section#mix
                a(href='#', onclick='playSound(\'./sound/ta.mp3\');') た 
                a(href='#', onclick='playSound(\'./sound/chi.mp3\');') ち 
                a(href='#', onclick='playSound(\'./sound/tsu.mp3\');') つ 
                a(href='#', onclick='playSound(\'./sound/te.mp3\');') て 
                a(href='#', onclick='playSound(\'./sound/to.mp3\');') と 
                h5 ta chi tsu te to
              section#mix
                a(href='#', onclick='playSound(\'./sound/na.mp3\');') な 
                a(href='#', onclick='playSound(\'./sound/ni.mp3\');') に 
                a(href='#', onclick='playSound(\'./sound/nu.mp3\');') ぬ 
                a(href='#', onclick='playSound(\'./sound/ne.mp3\');') ね 
                a(href='#', onclick='playSound(\'./sound/no.mp3\');') の 
                h5 na ni nu ne no
              section#mix
                a(href='#', onclick='playSound(\'./sound/ha.mp3\');') は 
                a(href='#', onclick='playSound(\'./sound/hi.mp3\');') ひ 
                a(href='#', onclick='playSound(\'./sound/fu.mp3\');') ふ 
                a(href='#', onclick='playSound(\'./sound/he.mp3\');') へ 
                a(href='#', onclick='playSound(\'./sound/ho.mp3\');') ほ 
                h5 ha hi fu he ho
              section#mix
                a(href='#', onclick='playSound(\'./sound/ma.mp3\');') ま
                a(href='#', onclick='playSound(\'./sound/mi.mp3\');') み
                a(href='#', onclick='playSound(\'./sound/mu.mp3\');') む
                a(href='#', onclick='playSound(\'./sound/me.mp3\');') め
                a(href='#', onclick='playSound(\'./sound/mo.mp3\');') も 
                p ma mi mu me mo
              section#mix
                a(href='#', onclick='playSound(\'./sound/ya.mp3\');') や
                a(href='#', onclick='playSound(\'./sound/i.mp3\');') い
                a(href='#', onclick='playSound(\'./sound/yu.mp3\');') ゆ
                a(href='#', onclick='playSound(\'./sound/e.mp3\');') え
                a(href='#', onclick='playSound(\'./sound/yo.mp3\');') よ 
                p ya i yu e yo
              section#mix
                a(href='#', onclick='playSound(\'./sound/ra.mp3\');') ら
                a(href='#', onclick='playSound(\'./sound/ri.mp3\');') り
                a(href='#', onclick='playSound(\'./sound/ru.mp3\');') る
                a(href='#', onclick='playSound(\'./sound/re.mp3\');') れ
                a(href='#', onclick='playSound(\'./sound/ro.mp3\');') ろ
                h5 ra ri ru re ro
      ol#btn
        li MENU
          ol 
            li
              a(href="index.html")
                h3 Gojoun
            li
              a(href="dakuonhiragana.html")
                h3 Dakuon
            li
              a(href="handakuonhiragana.html")
                h3 Han-Dakuon
            li
              a(href="yoonhiragana.html")
                h3 Yoon
        h4 Gojoun
    footer
      .themes
          p
            strong
              | MODE VIEW
              span.colon :
            span#theme Cube
          #up-arrow.up.arrow ^
          #down-arrow.down.arrow ^
      .social
        script(type='text/javascript', async='', src='./Bespoke.js_files/plusone.js')
        script#facebook-jssdk(src='./Bespoke.js_files/all.js')
        script#twitter-wjs(src='./Bespoke.js_files/widgets.js')
        script
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        g:plusone(size='medium', href='http://markdalgleish.com/projects/bespoke.js/')
        .fb-like(data-href='http://markdalgleish.com/projects/bespoke.js/', data-send='false', data-layout='button_count', data-width='450', data-show-faces='false', data-colorscheme='dark')
    script(src='./Bespoke.js_files/bespoke.min.js')
    script(src='./Bespoke.js_files/demo.js')
