doctype 
html
head
    meta(http-equiv='Content-Type', content='text/html; charset=ISO-8859-1')
    meta(name='viewport', content='width=device-width')
    title Bespoke.js
    meta(content='Bespoke.js', property='og:title')
    meta(content='Bespoke.js', property='og:site_name')
    meta(content='http://markdalgleish.com/projects/bespoke.js/', property='og:url')
    meta(content='website', property='og:type')
    meta(content='DIY Presentation Micro-Framework. Less than 1KB minified and gzipped, with no dependencies. Bespoke.js provides the foundation, then gets out of your way so you can focus on uniquely crafting your own personal deck style.', property='og:description')
    meta(content='http://markdalgleish.com/projects/bespoke.js/images/og-thumb.jpg', property='og:image')
    link(rel='stylesheet', type='text/css', href='style.css')
    link(rel='stylesheet', type='text/css', href='styles/style.css')
    link(rel='stylesheet', type='text/css', href='./Bespoke.js_files/style.css')
    link(rel='stylesheet', type='text/css', href='./Bespoke.js_files/themes.css')
    link(href='./Bespoke.js_files/css', rel='stylesheet', type='text/css')
  body.cube
    #main
      header
        p.hidden
          span#input-method Press up and down keys
          | to view example themes.  
      #title
        a(href='index.html')
          span Katakana
          span.shh Hiragana
      p#second
        ul
          li a-column 
          li i-column 
          li u-column 
          li e-column 
          li o-column
            article.bespoke
              section#mix
                p ア　イ　ウ　エ　オ
                p a e i o u
              section#mix
                p カ　キ　ク　ケ　コ
                p ka ki ku ke ko
              section#mix
                p サ　シ　ス　セ　ソ
                p sa shi su se so
              section#mix
                a(href='#', onclick='playSound(\'./sound/ta.mp3\');') タ 
                a(href='#', onclick='playSound(\'./sound/chi.mp3\');') チ 
                a(href='#', onclick='playSound(\'./sound/tsu.mp3\');') ツ 
                a(href='#', onclick='playSound(\'./sound/te.mp3\');') テ 
                a(href='#', onclick='playSound(\'./sound/to.mp3\');') ト 
                h5 ta chi tsu te to
              section#mix
                a(href='#', onclick='playSound(\'./sound/na.mp3\');') ナ 
                a(href='#', onclick='playSound(\'./sound/ni.mp3\');') ニ 
                a(href='#', onclick='playSound(\'./sound/nu.mp3\');') ヌ 
                a(href='#', onclick='playSound(\'./sound/ne.mp3\');') ネ 
                a(href='#', onclick='playSound(\'./sound/no.mp3\');') ノ 
                h5 na ni nu ne no
              section#mix
                a(href='#', onclick='playSound(\'./sound/ha.mp3\');') ハ 
                a(href='#', onclick='playSound(\'./sound/hi.mp3\');') ヒ 
                a(href='#', onclick='playSound(\'./sound/fu.mp3\');') フ 
                a(href='#', onclick='playSound(\'./sound/he.mp3\');') ヘ 
                a(href='#', onclick='playSound(\'./sound/ho.mp3\');') ホ 
                h5 ha hi fu he ho
			        section#mix
        				p マ　ミ　ム　メ　モ
        				p ma mi mu me mo
        			  section#mix
        				p ヤ　イ　ユ　エ　ヨ
        				p ya i yu e yo
              section#mix
                p ラ　リ　ル　レ　ロ
                p ra ri ru re ro
              section#mix
                p ワ　イ　ウ　エ　ヲ
                p wa i u e o
    footer
      .themes
          p
            strong
              | MODE VIEW
              span.colon :
            span#theme Cube
          #up-arrow.up.arrow ^
          #down-arrow.down.arrow ^
    script(src='./Bespoke.js_files/bespoke.min.js')
    script(src='./Bespoke.js_files/demo.js')
